body, html{
    margin: 0;
    padding: 0;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

h3{
    font-weight: bold;
    font-size: 21px;
}

.header{
    width: 100%;
    background-color: rgba(0,0,0, .5);
    padding: 20px;
    position: absolute;
    z-index: 99;
   
}

.headerNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerLinks{
    padding: 10px;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}


form{
    padding: 20px
}

input{
    padding: 20px;
    width: 50%;
    font-size: 18px;
}

fieldset{
    margin-top: 40px;
    border-color: red;
    border-style: dashed;
}

legend{
    font-size: 30px;
}

.button{
    padding: 20px;
    font-size: 20px;
    background-color: blue;
    color: #ffffff;
}

.formInputContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}